body{
	background-image:url("Assignment/img/img.jpg")
}
*{
	box-sizing:border-box;
}
h1{width:100%;
text-align:center;
margin-bottom:15px;
}
.myRow{
	width:100%;
	
}
.button1{
	    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.section{
	width:30%;
	border:2px solid black;
	padding:0px;
	margin:10px;
	background-color:gray;
	float:left;
	height: 100%;
	box-shadow: 5px 10px 20px #000;
	-webkit-animation: mymove 5s infinite;
    animation: mymove 10s infinite;
	
	
}
.spacer{
	height: 30px;
	clear:both;
}
.s3{
margin-bottom:50px;	
}
.myh3{
	width:auto;
	float:right;
	margin:0px;
	border-left:2px solid black;
	border-bottom:2px solid black;
	padding:10px;
	
}
.h31{background-color:green;}
.h32{background-color:pink;}
.h33{background-color:gold;}

p {
    padding: 20px;
    margin-top: 35px;
	font-size:120%;
	color:white;
}
footer {
	margin-top:30px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-align: center;
	color:white;
	background-color:black;
	padding:20px;
	width:100%;
}
.mynav{
	background-image: linear-gradient(to right, green,pink , yellow);
	border-bottom:2px solid black;
	
	
}
.navbar-brand{
	color: black;
	padding: 20px;
	margin: 20px;
}
.navbar-brand:hover{
	color: white;
}
.menus{
	background-color:gray;
	opacity:.9;
	margin:auto;
	color:white;
	width:100%;
	margin:0px;
	padding:0px;	
	text-align:center;
	display:block;
}
.menus ul{
		list-style:none;
		width:100%;
		margin:0px;
	padding:0px;	
		
}

.menus ul a li{
	margin-bottom:5px;
	padding:20px;
	width:100%;
	border-bottom:2px solid black;
	box-sizing:border;
}
.menus ul  a{
		
	font-size:1.5em;
	color:white;
	text-decoration:none;
	width:100%;
	text-align:center;
}
.menus ul  a li:hover{
		
	background-color:#070707;
}
#menus{
	display:none;
}

.navB{
	border-radius: 10px;
	float:right;
}

a:hover{
	color:#f47c21;
}
#myBtn {
	opacity:.7;
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

@-webkit-keyframes mymove {
    50% {box-shadow: 20px 40px 50px #000;}
}

@keyframes mymove {
    50% {box-shadow: 20px 40px 50px #000;}
}

@media (max-width:991px)and (min-width:768px){
	.s1,.s2{width:45%}
	.s3{width:92.48%}
	
}
@media(max-width:767px){
	.s1,.s2,.s3{width:95%}
	
}
@media(max-width:555px){
	a h1{
		font-weight: 200;
		font-size: 35px;
		margin: auto;
	}
}
@media(max-width:506px){
	
	.navbar-header,.button1{
		margin:auto;
	}
}

@media(max-width:391px){
	a h1{
		font-size: 30px;
		margin: auto;
	}
}
@media(max-width:391px){
	.centerM{
		align :center !important;
		margin:auto !important;
	}
}